@page
    @model UserPlaylistsModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
   <form asp-page-handler="upate" method="post">
        <button class="btn btn-primary" asp-page-handler="Update">Update</button>
        @* Todo : change to remove button once confirmed working *@
        @if(!Model.SpotifyAuthorized || true){
            <button class="btn btn-primary" asp-page-handler="Auth">Authorize spotify</button>
        }
   </form> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Playlists[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playlists[0].SpotifyUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Playlists) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotifyUserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
